<h1>Welcome GenerasiGigih2.0</h1>
<p>Posts will go here</p>

<%= link_to "About", "/about" %>
<%= link_to "About ada welcome", "/welcome/about" %>
<%= link_to "About Amaizing with paths", welcome_about_path %>

